<% include partials/_loggedInHeader %>

<div class="body">

  <div class="container">

    <div class="float-left">

      <form class="search-form" action="/search_snippets" method="POST">
        <input type="text" name="search" placeholder="Search snippets" />
        <select name="search_type">
          <option value="title">Title</option>
          <option value="language">Language</option>
          <option value="tag">Tags</option>
        </select>
        <button type="submit">Search</button>
      </form>
      <button onclick="window.location.href='/snippets/all'">All</button>

    </div>

    <h1 class="clear">Explore Snippets</h1>

    <% let favsString = '' %>
    <% favs.forEach((fav) => { %>
      <% favsString += fav._id; %>
    <% }) %>
    <% snippets.forEach((snippet) => { %>
      <div data-snippet-id="<%= snippet._id %>" class="snippet">
        <% if (favsString.indexOf(snippet.id) != -1) { %>

          <h2><i class="star fa fa-star" aria-hidden="true"></i> <%= snippet.title %>
            <% if (user === snippet.creator) { %>
              - <a href="/edit/<%= snippet._id %>">EDIT</a>
              <% } %>
            </h2>

        <% } else { %>

          <h2><i class="star fa fa-star-o" aria-hidden="true"></i> <%= snippet.title %>
            <% if (user === snippet.creator) { %>
              - <a href="/edit/<%= snippet._id %>">EDIT</a>
              <% } %>
            </h2>

        <% } %>
        <h3><%= snippet.language %></h3>
        <h4><a class="creator" href="/snippets/user/<%= snippet.creator %>"><%= snippet.creator %></a> - <%= snippet.createdAt %></h4>
        <section class="snippet-code">
          <pre><%= snippet.body %></pre>
        </section>
        <section class="snippet-notes">
          <p><%= snippet.notes %></p>
        </section>
        <% if (snippet.tags.length > 0 && snippet.tags[0] !== '') { %>
          <section class="snippet-tags">
            <p>
              <% snippet.tags.forEach((tag) => { %>
                <button onclick="window.location.href='/tags/<%= tag %>'" class="single-tag"><%= tag %></button>
                <% }) %>
              </p>
            </section>
        <% } %>
      </div>
    <% }) %>
  </div>

</div>


<% include partials/_footer %>
