<% include partials/_loggedInHeader %>

<div class="body">

  <div class="container">

    <div class="float-left">

      <form class="search-form" action="/search_snippets/<%= user %>" method="POST">
        <input type="text" name="search" placeholder="Search snippets" />
        <select name="search_type">
          <option value="title">Title</option>
          <option value="language">Language</option>
          <option value="tag">Tags</option>
        </select>
        <input type="submit" value="Search" />
      </form>

      <button onclick="window.location.href='/profile'">All</button>

    </div>

    <h1 class="clear">Your Snippets</h1>

    <% snippets.forEach((snippet) => { %>
      <div class="snippet">
        <h2><%= snippet.title %> -
          <a href="/edit/<%= snippet._id %>">EDIT</a>
        </h2>
        <h3><%= snippet.language %></h3>
        <h4><%= snippet.createdAt %></h4>
        <section class="snippet-code">
          <pre><%= snippet.body %></pre>
        </section>
        <section class="snippet-notes">
          <p><%= snippet.notes %></p>
        </section>
        <% if (snippet.tags.length > 0 && snippet.tags[0] !== '') { %>
          <section class="snippet-tags">
            <p>
              <% snippet.tags.forEach((tag) => { %>
                <button onclick="window.location.href='/tags/<%= tag %>'" class="single-tag"><%= tag %></button>
                <% }) %>
              </p>
            </section>
        <% } %>
      </div>
    <% }) %>
  </div>

</div>


<% include partials/_footer %>
